

<table border="1">
<tr>
  <th>
  #
  </th>
  <th>
  Coffee Shop
  </th>
  <th>
  Rating
  </th>
</tr>
<% @bookmark_array.each_with_index do |index, i| %>
<tr>
  <td>
    <%= i + 1%>
  </td>
  <td>
    <%= index.shop.name%>
  </td>
  <td>
    <%= index.shop.rating%>
  </td>
 
</tr>
<% end%>
</table>
